In [2]:
import pandas as pd
import os

In [3]:
temp_dir_list = ['temp_first', 'temp_second', 'temp_third']
current_directory = os.getcwd()
file_name = 'read_count.txt'

In [6]:
append_to = pd.DataFrame()

In [12]:


first = pd.read_csv(f'{current_directory}/{temp_dir_list[0]}/{file_name}', delimiter='\t', skiprows=[0])


first

,Geneid,Chr,Start,End,Strand,Length,firstAligned.sortedByCoord.out.bam
0,ENSRNOT00000080234_34129,ENSRNOT00000080234_34129,1,50,.,50,2
1,ENSRNOT00000059468_34130,ENSRNOT00000059468_34130,1,50,.,50,367
2,ENSRNOT00000060258_34131,ENSRNOT00000060258_34131,1,50,.,50,150
3,ENSRNOT00000075229_34132,ENSRNOT00000075229_34132,1,50,.,50,0
4,ENSRNOT00000010059_34133,ENSRNOT00000010059_34133,1,50,.,50,5
...,...,...,...,...,...,...,...
22248,ENSRNOT00000072149_81786,ENSRNOT00000072149_81786,1,50,.,50,3
22249,ENSRNOT00000012385_81787,ENSRNOT00000012385_81787,1,50,.,50,0
22250,ENSRNOT00000012385_81788,ENSRNOT00000012385_81788,1,50,.,50,0
22251,ENSRNOT00000008492_81789,ENSRNOT00000008492_81789,1,50,.,50,7
22252,ENSRNOT00000008492_81790,ENSRNOT00000008492_81790,1,50,.,50,1

In [37]:
def append_to_df(append_to, df):
    # IF append to df is empty
    if append_to.shape == (0,0):
        # append first row
        append_to['Geneid'] = df['Geneid']
    
    # Remove excess cols from df and rename it
    cols = df.columns
    # Get only cols of interest
    cols = [cols[0], cols[-1]]
    # Get Df with cols of interest
    df = df[cols].copy()

    # Make mapping dict to rename cols
    rename_cols = {x:x.removesuffix('Aligned.sortedByCoord.out.bam') for x in cols}
    
    df = df.rename(columns=rename_cols)

    append_to = append_to.merge(df, how='outer', on='Geneid')

    return append_to

In [38]:
new_df = append_to_df(append_to, first)

new_df

{'Geneid': 'Geneid', 'firstAligned.sortedByCoord.out.bam': 'first'}

                         Geneid  first
0      ENSRNOT00000080234_34129      2
1      ENSRNOT00000059468_34130    367
2      ENSRNOT00000060258_34131    150
3      ENSRNOT00000075229_34132      0
4      ENSRNOT00000010059_34133      5
...                         ...    ...
22248  ENSRNOT00000072149_81786      3
22249  ENSRNOT00000012385_81787      0
22250  ENSRNOT00000012385_81788      0
22251  ENSRNOT00000008492_81789      7
22252  ENSRNOT00000008492_81790      1

[22253 rows x 2 columns]